openai-whisper
ffmpeg-python
streamlit
pandas
numpy
pydub
speechrecognition
scipy
pytesseract
transformers
datasets
torch
sentencepiece
accelerate
tf-keras
tesseract
streamlit
moviepy.editor
pytesseract
